= simple_form_for @ride do |form|
	= form.simple_fields_for :start_address do |form_sa|
		= form_sa.input :address
	= form.simple_fields_for :destination_address do |form_da|
		= form_da.input :address
	= form.input :price
	= form.submit